#heading{
    text-align: center;
    color:green;
}
.main_box{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.div_box{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    height: 30%;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
.label{
    display: block;
    padding-left: 25px;
}
#size_label{
    margin-left: 30px;
}
#color_label{
    margin-left: 20px;
}
input {
   accent-color:green; 
}
.label_font{
    font-weight: 600 ;
    color:rgb(73, 69, 69);
}
.drop_box{
    margin: 5px;
}
#label_heading{
    color:rgb(8, 54, 8);
    font-weight: 600;
}
.div_box:hover{
    border:2px solid green;
    /* background-color: rgb(116, 194, 116); */
}
.wrapper{
     margin: auto;
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 50%;
    margin-top: 20px;
}
.wrapper_heading{
    color: green;
    font-size: 15px;
    font-weight: 600;
}
#submitButton{
    height:40px;
    width:50%;
    margin: auto;
    background-color: rgb(30, 78, 30);
    color:white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
